astroid==2.15.5
bandit==1.7.5
code2flow==2.5.1
dill==0.3.6
gitdb==4.0.10
GitPython==3.1.31
isort==5.12.0
lazy-object-proxy==1.9.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.4.1
mypy-extensions==1.0.0
pbr==5.11.1
platformdirs==3.8.0
pyflakes==3.0.1
Pygments==2.15.1
pylint==2.17.4
PyYAML==6.0
rich==13.4.2
ruff==0.0.275
smmap==5.0.0
stevedore==5.1.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
typing_extensions==4.6.3
vulture==2.7
wrapt==1.15.0
